body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#FlexContainer3
{
   display: flex;
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 7777;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#FlexContainer2
{
   display: flex;
   width: 100%;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card1-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_services1LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(41,41,41,0.31);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#services1LayoutGrid
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#services1LayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services1LayoutGrid > .row > .col-1, #services1LayoutGrid > .row > .col-2, #services1LayoutGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services1LayoutGrid > .row > .col-1, #services1LayoutGrid > .row > .col-2, #services1LayoutGrid > .row > .col-3
{
   float: left;
}
#services1LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#services1LayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#services1LayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#services1LayoutGrid > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#services1LayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#services1LayoutGrid > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#services1LayoutGrid:before,
#services1LayoutGrid:after,
#services1LayoutGrid .row:before,
#services1LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#services1LayoutGrid:after,
#services1LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 310px)
{
#services1LayoutGrid > .row > .col-1, #services1LayoutGrid > .row > .col-2, #services1LayoutGrid > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card10
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card10-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card10-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card10-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card10-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card4-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(41,41,41,0.31);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 310px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card3-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card3-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card11
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card11-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card11-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card11-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card11-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card12
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card12-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card12-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card12-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card12-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(41,41,41,0.31);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 310px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card13
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card13-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card13-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card13-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card13-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card14
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card14-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card14-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card14-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card14-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card15
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid #DEDEDE;
   border-radius: 4px;
   text-align: center;
}
#Card15-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
.stretched-link::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
   background-color: rgba(0,0,0,0);
}
#Card15-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card15-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card15-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_menuPanel a, #menuPanel_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#menuPanel_markup
{
   display: none;
   margin: 0;
   padding: 75px 0 0 0;
}
#menuPanel_panel #menuPanel_markup
{
   display: block;
}
#menuPanel_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menuPanel_markup li a, #menuPanel_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#menuPanel_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #696969;
}
#menuPanel_panel
{
   display: none;
   position: absolute;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid rgba(105,105,105,0.00);
   border-radius: 0px;
   background-color: rgba(62,62,62,0.39);
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(105,105,105,0.00);
}
#menuPanel .line
{
   width: 16px;
   height: 3px;
   background: #F7F7F7;
   display: block;
   margin: 3px auto;
   transition: all 0.3s ease-in-out;
}
#menuPanel .line:first-child
{
   margin-top: 16px;
}
#menuPanel.open .line:nth-child(1)
{
   transform: translateY(6px) rotate(45deg);
}
#menuPanel.open .line:nth-child(2)
{
   opacity: 0;
}
#menuPanel.open .line:nth-child(3)
{
   transform: translateY(-6px) rotate(-45deg);
}
#menuPanel
{
   line-height: 48px;
   width: 4px;
   height: 48px;
   position: absolute;
   z-index: 999;
}
#menuPanel-close
{
   display: none;
   text-align: right;
}
#menuPanel-close a
{
   color: #F7F7F7;
   display: inline-block;
   font-size: 32px;
   font-weight: bold;
   padding: 5px 10px 5px 10px;
   text-decoration: none;
}
#menuPanel-close a:hover
{
   color: #F7F7F7;
}
@media all and (max-width:0px) 
{
#menuPanel_panel
{
   width: 100%;
}
body
{
   margin-left: 0 !important;
}
#menuPanel-close
{
   display: block;
}
}
#PanelLayer
{
   padding: 0;
}
#PanelLayer_panel
{
   background-color: rgba(0,0,0,0.59);
   background-image: none;
   border-radius: 0px;
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 306px;
   z-index: 9999;
}
@media only screen and (max-width:480px) 
{
#PanelLayer
{
   width: 100% !important;
}
#PanelLayer_panel
{
   width: 100% !important;
}
body
{
   margin-left: 0 !important;
}
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont2
{
   height: 30px;
   width: 30px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont2:hover #IconFont2 i
{
   color: #DCDCDC;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 70px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Heading20
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 15px 10px 15px;
   text-align: left;
}
#Heading20
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#wb_OverlayMenu2
{
   position: relative;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 15px 0 15px 0 ;
}
#wb_OverlayMenu2
{
   background-color: rgba(122,122,122,0.00);
}
#wb_OverlayMenu2 ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu2 a
{
   text-decoration: none;
}
.OverlayMenu2 ul
{
   list-style: none;
   padding: 0;
   text-align: left;
}
.OverlayMenu2 li
{
   position: relative;
}
.OverlayMenu2 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu2 li a:hover
{
   color: #FF1493;
   background-color: rgba(204,204,204,0.00);
}
#wb_OverlayMenu2 .overlay-icon
{
   margin: 0 10px 0 0 ;
}
.OverlayMenu2-effect
{
   transition: all 500ms linear;
}
#wb_Text40 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 30px 0 15px 0;
   margin: 0;
   text-align: center;
}
#wb_Text40 div
{
   text-align: center;
}
#wb_Text40
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_HeaderLayoutGrid
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#HeaderLayoutGrid
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#HeaderLayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   float: left;
}
#HeaderLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: center;
}
#HeaderLayoutGrid:before,
#HeaderLayoutGrid:after,
#HeaderLayoutGrid .row:before,
#HeaderLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#HeaderLayoutGrid:after,
#HeaderLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 120px)
{
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Header 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 15px 0 0 0 ;
   text-align: center;
}
#wb_Header div
{
   text-align: center;
}
#wb_Header
{
   display: block;
   margin: 15px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: none;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: none;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: none;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: none;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_home_logo
{
   margin: 0;
   vertical-align: top;
}
#home_logo
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 70px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text5 
{
   background-color: rgba(128,128,128,0.39);
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 10px 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Card1
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 14;
}
#wb_OverlayMenu2
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#Html1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 21px;
   height: 28px;
   z-index: 23;
}
#wb_home_logo
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 5;
}
#wb_Text40
{
   position: absolute;
   top: auto !important;
   bottom: 0 !important;
   width: 100% !important;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 1;
}
#wb_Card14
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 21;
}
#wb_Card3
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 17;
}
#PanelLayer
{
   text-align: right;
}
#wb_Card15
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 22;
}
#wb_Card10
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 16;
}
#wb_Card11
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 18;
}
#wb_menuPanel
{
   display: inline-block;
   width: 4px;
   height: 48px;
   text-align: center;
   z-index: 9;
}
#wb_Card12
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 19;
}
#wb_EmbeddedPage4
{
   position: absolute;
   left: 991px;
   top: 358px;
   width: 21px;
   height: 28px;
   z-index: 41;
}
#wb_Card13
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 20;
}
#wb_Heading20
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_EmbeddedPage1
{
   display: inline-block;
   width: 970px;
   height: 63px;
   z-index: 12;
}
#wb_IconFont2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 0;
}
#wb_Card4
{
   display: flex;
   width: calc(100% - 20px);
   z-index: 15;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#FlexContainer3
{
   visibility: visible;
   display: flex;
}
#FlexContainer3
{
   min-height: 0;
   margin: 0;
   padding: 0;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#FlexContainer2
{
   visibility: visible;
   display: flex;
}
#FlexContainer2
{
   min-height: 0;
   margin: 0;
   padding: 0;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_Card1
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card1-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card1-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card1
{
   text-align: center;
}
#wb_services1LayoutGrid
{
   visibility: visible;
   display: table;
}
#wb_services1LayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#services1LayoutGrid
{
   height: auto;
   padding: 0 5px 0 5px;
}
#services1LayoutGrid .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#wb_Card10
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card10-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card10-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card10-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card10
{
   text-align: center;
}
#wb_Card4
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card4-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card4-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card4-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card4
{
   text-align: center;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid1
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   height: auto;
   padding: 0 5px 0 5px;
}
#LayoutGrid1 .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#wb_Card3
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card3-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card3-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card3-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card3
{
   text-align: center;
}
#wb_Card11
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card11-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card11-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card11-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card11
{
   text-align: center;
}
#wb_Card12
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card12-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card12-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card12-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card12
{
   text-align: center;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 0 5px 0 5px;
}
#LayoutGrid2 .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#wb_Card13
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card13-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card13-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card13-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card13
{
   text-align: center;
}
#wb_Card14
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card14-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card14-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card14-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card14
{
   text-align: center;
}
#wb_Card15
{
   width: calc(100% - 20px);
   visibility: visible;
   display: flex;
   margin: 10px 10px 10px 10px;
}
#Card15-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 4px 4px 0 0 !important;
   margin: 0;
   padding: 12px 2px 12px 2px;
   background-color: #F7F7F9;
   background-image: none;
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#Card15-card-item1
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   border-radius: 0 0 4px 4px !important;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#Card15-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card15
{
   text-align: center;
}
#wb_EmbeddedPage4
{
   left: 320px;
   top: 105px;
   width: 20px;
   height: 28px;
   visibility: visible;
   display: inline;
}
#Html1
{
   left: 0px;
   top: 0px;
   width: 20px;
   height: 28px;
   visibility: visible;
   display: inline;
}
#wb_EmbeddedPage1
{
   width: 320px;
   height: 47px;
   visibility: visible;
   display: inline;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
}
#wb_menuPanel
{
   width: 41px;
   height: 41px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#menuPanel
{
   line-height: 41px;
   width: 41px;
   height: 41px;
}
#menuPanel .line:first-child
{
   margin-top: 12px;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid #696969;
   border-radius: 0px;
   background-color: rgba(62,62,62,0.39);
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(105,105,105,0.00);
}
#PanelLayer
{
   left: 329px;
   top: 4px;
   width: 306px;
}
#PanelLayer
{
   padding: 0;
}
#wb_IconFont2
{
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 6px 6px 6px 6px;
}
#IconFont2
{
   width: 30px;
   height: 30px;
}
#IconFont2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading20
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 15px 10px 15px;
   color: #FFD700;
}
#wb_Heading20
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading20
{
   color: #FFD700;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#wb_OverlayMenu2
{
   width: 306px;
   height: 371px;
   visibility: visible;
   display: inline-block;
   margin: 15px 0 15px 0 ;
}
#OverlayMenu2-overlay ul
{
   font-size: 16px;
   text-align: left;
}
#wb_Text40
{
   visibility: visible;
   display: block;
}
#wb_Text40
{
   margin: 0;
   padding: 30px 0 15px 0;
}
#wb_HeaderLayoutGrid
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
}
#wb_HeaderLayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#HeaderLayoutGrid
{
   height: auto;
   padding: 0;
}
#HeaderLayoutGrid .row
{
   margin-right: 0px;
   margin-left: 0px;
}
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#HeaderLayoutGrid > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-2
{
   display: block;
   width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-3
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Header
{
   visibility: hidden;
   display: none;
}
#wb_Header
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_home_logo
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   background-color: rgba(255,255,255,0.39);
   background-image: none;
}
#wb_Text5
{
   margin: 0;
   padding: 10px 0 10px 0;
}
}
    #countdown {
      position: fixed;
      top: 60px;
      left: 5px;
      font-size: 18px;
      cursor: pointer;
      background: rgba(105, 55, 185, 0.3);
      opacity: 0.7;
      padding: 5px 10px 5px 10px;
      width: 150px;
      border-radius: 0px 0px 20px 20px;
      align: center;
      
    }

	  
	          /* Style for the popup container */
        .popups-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 80%; /* Set width to 80% of the screen */
            max-width: 400px;
        }
        /* Style for the popups */
        .popups {
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            opacity: 1; /* Set opacity to 100% */
           
        }
  /* Style for the image inside the popups */
        #popupsImage {
            max-width: 100%; /* Set maximum width to 100% of its container */
            height: 200px; /* Maintain aspect ratio */
            margin-bottom: 5px; /* Add some spacing below the image */
          border-radius: 10px;
        }
  
        /* Style for the blurred background */
        .blurred-background {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(5px);
            background-color: rgba(5, 5, 5, 0.8); /* Adjust background color and opacity as needed */
            z-index: 0;
        }
        /* Style to make the popups responsive */
        @media only screen and (max-width: 600px) {
            .popups-container {
                width: 90vw; /* Adjust width for smaller screens */
            }
        }
        
       #countdown {
           display: block;
           transition: transform 0.3s ease-out;
        }
       #countdown.hide {
           transform: translateY(-200%);
        }
  