body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
}
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(136,144,167,0.61);
    }
    #calendar {
      border-collapse: collapse;
      width: 300px;
      text-align: center;
    }
    #calendar th, #calendar td {
      position: relative;
      padding: 10px;
      border: 1px solid #ddd;
    }
    #calendar th {
      background-color: #f2f2f2;
      cursor: pointer; /* Add cursor style to indicate clickability */
    }
    #calendar td {
      cursor: pointer;
    }
    #calendar td:hover {
      background-color: #e6e6e6;
    }
    #month-year {
      font-size: 1.2em;
      margin-bottom: 10px;
      text-decoration: none; /* Add underline style to indicate clickability */
      cursor: pointer; /* Add cursor style to indicate clickability */
    }
    .dot {
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: green;
      border-radius: 50%;
      bottom: 5px;
      left: 5px;
      cursor: pointer;
    }
    /* Modal Styles */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      z-index: 1;
	  filter: blur(0px);
    }
    .modal-content {
      background-color: rgba(77,124,134,0.90);
      padding: 20px;
	  margin: 0 5px 0 5px;
      border-radius: 0 0 50px 50px;
      max-width: 400px;
      text-align: center;
	  
    }
    .close-button {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 8px 16px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 4px;
    }
  