body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#FlexContainer3
{
   display: flex;
   width: 100%;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 7777;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_menuPanel a, #menuPanel_markup li a
{
   display: block;
   text-align: center;
   vertical-align: middle;
}
#menuPanel_markup
{
   display: none;
   margin: 0;
   padding: 75px 0 0 0;
}
#menuPanel_panel #menuPanel_markup
{
   display: block;
}
#menuPanel_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#menuPanel_markup li a, #menuPanel_markup li a:hover
{
   padding: 10px 10px 10px 10px;
   box-shadow: none;
}
#menuPanel_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #696969;
}
#menuPanel_panel
{
   display: none;
   position: absolute;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid rgba(105,105,105,0.00);
   border-radius: 0px;
   background-color: rgba(62,62,62,0.39);
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(105,105,105,0.00);
}
#menuPanel .line
{
   width: 16px;
   height: 3px;
   background: #F7F7F7;
   display: block;
   margin: 3px auto;
   transition: all 0.3s ease-in-out;
}
#menuPanel .line:first-child
{
   margin-top: 16px;
}
#menuPanel.open .line:nth-child(1)
{
   transform: translateY(6px) rotate(45deg);
}
#menuPanel.open .line:nth-child(2)
{
   opacity: 0;
}
#menuPanel.open .line:nth-child(3)
{
   transform: translateY(-6px) rotate(-45deg);
}
#menuPanel
{
   line-height: 48px;
   width: 53px;
   height: 48px;
   position: absolute;
   z-index: 999;
}
#menuPanel-close
{
   display: none;
   text-align: right;
}
#menuPanel-close a
{
   color: #F7F7F7;
   display: inline-block;
   font-size: 32px;
   font-weight: bold;
   padding: 5px 10px 5px 10px;
   text-decoration: none;
}
#menuPanel-close a:hover
{
   color: #F7F7F7;
}
@media all and (max-width:0px) 
{
#menuPanel_panel
{
   width: 100%;
}
body
{
   margin-left: 0 !important;
}
#menuPanel-close
{
   display: block;
}
}
#PanelLayer
{
   padding: 0;
}
#PanelLayer_panel
{
   background-color: rgba(0,0,0,0.59);
   background-image: none;
   border-radius: 0px;
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 306px;
   z-index: 9999;
}
@media only screen and (max-width:480px) 
{
#PanelLayer
{
   width: 100% !important;
}
#PanelLayer_panel
{
   width: 100% !important;
}
body
{
   margin-left: 0 !important;
}
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont2
{
   height: 30px;
   width: 30px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_IconFont2:hover #IconFont2 i
{
   color: #DCDCDC;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 70px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Heading20
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 15px 10px 15px;
   text-align: left;
}
#Heading20
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#wb_OverlayMenu2
{
   position: relative;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 15px 0 15px 0 ;
}
#wb_OverlayMenu2
{
   background-color: rgba(122,122,122,0.00);
}
#wb_OverlayMenu2 ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu2 a
{
   text-decoration: none;
}
.OverlayMenu2 ul
{
   list-style: none;
   padding: 0;
   text-align: left;
}
.OverlayMenu2 li
{
   position: relative;
}
.OverlayMenu2 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu2 li a:hover
{
   color: #FF1493;
   background-color: rgba(204,204,204,0.00);
}
#wb_OverlayMenu2 .overlay-icon
{
   margin: 0 10px 0 0 ;
}
.OverlayMenu2-effect
{
   transition: all 500ms linear;
}
#wb_Text40 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 30px 0 15px 0;
   margin: 0;
   text-align: center;
}
#wb_Text40 div
{
   text-align: center;
}
#wb_Text40
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_HeaderLayoutGrid
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #A9A9A9;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#HeaderLayoutGrid
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#HeaderLayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   float: left;
}
#HeaderLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 8.33333333%;
   text-align: center;
}
#HeaderLayoutGrid:before,
#HeaderLayoutGrid:after,
#HeaderLayoutGrid .row:before,
#HeaderLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#HeaderLayoutGrid:after,
#HeaderLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 120px)
{
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Header 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Header div
{
   text-align: center;
}
#wb_Header
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: none;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: none;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   display: none;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: none;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_home_logo
{
   margin: 0;
   vertical-align: top;
}
#home_logo
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 70px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#FlexContainer2
{
   display: flex;
   width: 100%;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Text5 
{
   background-color: rgba(128,128,128,0.39);
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 10px 0 10px 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_OverlayMenu2
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#wb_home_logo
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 5;
}
#wb_Text40
{
   position: absolute;
   top: auto !important;
   bottom: 0 !important;
   width: 100% !important;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 1;
}
#PanelLayer
{
   text-align: right;
}
#wb_menuPanel
{
   display: inline-block;
   width: 53px;
   height: 48px;
   text-align: center;
   z-index: 9;
}
#wb_Heading20
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_EmbeddedPage1
{
   display: inline-block;
   width: 1286px;
   height: 659px;
   z-index: 12;
}
#wb_IconFont2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 0;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#FlexContainer3
{
   visibility: visible;
   display: flex;
}
#FlexContainer3
{
   min-height: 0;
   margin: 0;
   padding: 0;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_EmbeddedPage1
{
   width: 320px;
   height: 47px;
   visibility: visible;
   display: inline;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
}
#wb_menuPanel
{
   width: 41px;
   height: 41px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#menuPanel
{
   line-height: 41px;
   width: 41px;
   height: 41px;
}
#menuPanel .line:first-child
{
   margin-top: 12px;
}
#wb_menuPanel a
{
   color: #F7F7F7;
   border: 1px solid rgba(105,105,105,0.00);
   border-radius: 0px;
   background-color: rgba(62,62,62,0.39);
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-align: center;
}
#wb_menuPanel a:hover
{
   color: #F7F7F7;
   background-color: rgba(255,255,255,0.00);
   border: 1px solid rgba(105,105,105,0.00);
}
#PanelLayer
{
   left: 329px;
   top: 4px;
   width: 306px;
}
#PanelLayer
{
   padding: 0;
}
#wb_IconFont2
{
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 6px 6px 6px 6px;
}
#IconFont2
{
   width: 30px;
   height: 30px;
}
#IconFont2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading20
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 15px 10px 15px;
   color: #FFD700;
}
#wb_Heading20
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
}
#Heading20
{
   color: #FFD700;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: center;
}
#wb_OverlayMenu2
{
   width: 306px;
   height: 371px;
   visibility: visible;
   display: inline-block;
   margin: 15px 0 15px 0 ;
}
#OverlayMenu2-overlay ul
{
   font-size: 16px;
   text-align: left;
}
#wb_Text40
{
   visibility: visible;
   display: block;
}
#wb_Text40
{
   margin: 0;
   padding: 30px 0 15px 0;
}
#wb_HeaderLayoutGrid
{
   visibility: visible;
   display: table;
   background-color: transparent;
   background-image: none;
   background-image: none;
}
#wb_HeaderLayoutGrid
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#HeaderLayoutGrid
{
   height: auto;
   padding: 0;
}
#HeaderLayoutGrid .row
{
   margin-right: 0px;
   margin-left: 0px;
}
#HeaderLayoutGrid > .row > .col-1, #HeaderLayoutGrid > .row > .col-2, #HeaderLayoutGrid > .row > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#HeaderLayoutGrid > .row > .col-1
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-2
{
   display: block;
   width: 66.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderLayoutGrid > .row > .col-3
{
   display: block;
   width: 16.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Header
{
   visibility: hidden;
   display: none;
}
#wb_Header
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_home_logo
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#FlexContainer2
{
   visibility: visible;
   display: flex;
}
#FlexContainer2
{
   min-height: 0;
   margin: 0;
   padding: 0;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   align-content: flex-start;
}
#wb_Text5
{
   width: auto;
   height: auto;
   visibility: visible;
   display: inline;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   background-color: rgba(255,255,255,0.39);
   background-image: none;
}
#wb_Text5
{
   margin: 0;
   padding: 10px 0 10px 0;
}
}
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 20px;
      background-color: #f4f4f4;
    }
    h1 {
      text-align: center;
      color: #333;
    }
    form {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
      display: block;
      margin: 10px 0 5px;
      color: #555;
    }
    input, textarea {
      width: calc(100% - 20px);
      padding: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      min-height: 50px; /* Set a minimum height for contenteditable */
    }
	
	textarea {
		height: 200px;
	  }
	  
    input[type="time"] {
      width: calc(50% - 12px);
      display: inline-block;
      margin-right: 10px;
    }
    input#startTime {
      margin-right: 0;
    }
    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button:hover {
      background-color: #45a049;
    }
  