body {
            font-family: Arial, sans-serif;
            background-image: url('../images/nature1.jpg'); /* Replace 'background-image.jpg' with your image file */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

/* Quiz container */
#quiz {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    text-align: center;
    display: none;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Form styling */
#email-form {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#email-form label {
    display: block;
    color: blue;
    margin-bottom: 10px;
}

#email-form input[type="text"],
#email-form input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#phone {
  width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#email-form button {
    width: 100%;
}

/* Result container styling */
#result-container {
    max-width: 600px;
    margin: 20px auto;
    height: auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Adjusted alignment */
}

#result-container h2 {
    margin-bottom: 10px;
    border-radius: 20px;
    background: rgba(24,56,26,0.2);
    text-align: center; /* Centered heading */
}

#result-text {
    font-size: 16px; /* Reduced font size for better readability */
    line-height: 1.6;
    margin-top: 20px; /* Added spacing between heading and content */
}

#result-text p {
    margin-bottom: 10px; /* Added spacing between paragraphs */
    white-space: nowrap; /* Prevents wrapping */
}

.result-item {
    margin-bottom: 15px;
}

.result-label {
    font-weight: bold;
    margin-right: 10px;
}

.result-value {
    font-weight: normal;
    white-space: normal; /* Allows wrapping */
}

/* Timer container */
#timer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#timer-slider {
    flex: 1;
    pointer-events: none; 
}

#hint-button-container {
    margin-right: auto; /* Adjust as needed */
}

#hint-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hint-button:focus {
    outline: none; /* Remove the default focus outline */
}

#hint-button:hover .bulb-icon {
    text-shadow: 0 0 10px yellow; /* Add text shadow effect only to the bulb icon on hover */
}

.hint-disabled #hint-button:hover .bulb-icon {
    text-shadow: none; /* Remove text shadow effect when hint is disabled */
}

#timer-display {
    font-size: 16px; /* Adjust as needed */
    margin-left: auto; 
}

/* Quiz question styling */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

ul li:hover {
    background-color: #f0f0f0;
}

#question-container ul {
    list-style-type: none;
    padding: 0;
}

#question-container li {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#question-container li:hover {
    background-color: #e9e9e9;
}

#question-container li.correct {
    background-color: #b9e3b3; /* Green color for correct answer */
    animation: correctEffect 0.5s ease;
}

#question-container li.incorrect {
    background-color: #ffcccc; /* Red color for incorrect answer */
    animation: incorrectEffect 0.5s ease;
}

@keyframes correctEffect {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes incorrectEffect {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}
  
  .hint-tooltip {
    position: fixed;
    max-width: 400px;
    width: 80%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}
  
  .bulb-icon {
    color: red; /* Default color for enabled hint */
}

.hint-disabled .bulb-icon {
    color: black; /* Color for disabled hint */
}

/* Custom styles for the slider */

/* Background color of the slider track */
.noUi-target {
    background-color: green;
}

/* Hide the slider handle */
.noUi-handle {
    display: block;
}

/* Color of the active part of the slider track */
.noUi-connect {
    background-color: #4CAF50;
}

/* Color of the inactive part of the slider track */
.noUi-connects {
    background-color: #ddd;
}

