/* General Styling */
        body {
            font-family: 'Arial', sans-serif;
            margin: 5px;
            padding: 5px;
            background-color: #f5f5f5;
            color: #333;
        }

/* Base styles for header */
.bridget-shaelyn {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
//    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* Replace background color with background image */
    background-image: url('../images/header.png'); /* Replace 'path_to_your_image.png' with the path to your background image */
    background-size: cover; /* Cover the entire header with the background image */
    background-color: transparent; /* Set a transparent background color */
    color: #fff;
    z-index: 999;
}

    .clubLogo {
        width: 30px;
        height: auto;
        top: 35px;
      left: 1px;
      position: fixed;
    }

.log img {
    width: 60px; /* Adjust size as needed */
    top: 2px;
    left: 5px;
    position: absolute;
}

.bri {
    /* To ensure the title aligns with the logo */
    display: flex;
    align-items: end;
    margin-top: -10px;
}

.bri h2 {
    font-size: 20px;
    position: absolute;
    left: 70px;
    top: 20px;
}

/* Media query for smaller screens (e.g., tablets) */
@media (max-width: 768px) {
    .bridget-shaelyn {
        flex-direction: column;
        align-items: center;
    }

    .log {
        margin-bottom: 5px;
    }
}


  
.log-clinton {
    position: fixed;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    align-items: center; /* Center align vertically within .logo-container */
    
}

.logos {
    width: auto; /* Allow logos to maintain aspect ratio */
    height: 25px; /* Set a fixed height for logos */
    margin-right: -7px; /* Adjust spacing between logos */
    align-self: flex-start; /* Prevent logos from stretching vertically */
}

    .thead {
        margin:5px 0 0 0;
        top: 5px;
        left: 0;
        position: fixed;
        z-index:999;
        padding: 0 10px 2px 10px;
        border-radius: 0 0 20px 0;
        width: 50%;
        background-color:rgba(0,40,45,0.9);
    }


        /* Header Styling */
          h1 {
            text-align: center;
            color: Blue;
            font-size: 20px;
            margin: 3px;
            font-weight: bold;
        }
  .hi {
                margin-top: 80px;
  }
          h2 {
            text-align: center;
            color: white;
            border-radius: 10px;
            background-color: rgba(20,12,255,0.3);
        }
  
        h3 {
            text-align: left;
            color: white;
            background-color: rgba(20,12,255,0.3);
            margin-left: -5px;
            padding-left: 5px;
            border-radius: 0 10px 10px 0;
            margin-bottom: 5px;
        }
        h4 {
            color: black;
            text-align: center;
            border-bottom: solid 2px orange;
            margin-bottom: 2px;
            border-radius: 20px;
        }
        h5 {
            color: yellow;
            text-align: center;
            border-bottom: solid 2px yellow;
            margin-bottom: 2px;
            border-radius: 20px;
        }  
        .section {
            background: #ffffff;
            padding: 5px;
            margin-bottom: 10px;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-left: 5px solid rgba(20,12,255,0.3);
        }


        ul {
            list-style: none;
            padding: 0;
        }

        ul li {
            padding: 5px;
            border-bottom: 1px solid #ddd;
        }

.roman {
    list-style-type: lower-roman;
}
.roman li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin-left: -25px;
}
/*
        ul li:last-child {
            border-bottom: none;
        }
*/
        .total {
            font-weight: bold;
            color: #d9534f;
            font-size: 1.1em;
        }

        .outstanding {
            font-weight: bold;
            color: #f0ad4e;
        }

        .balance {
            font-weight: bold;
            color: #5cb85c;
            font-size: 1.2em;
        }

.date {
    color: black; /* Darker color for the title */
    font-size: 12px; /* Larger font size */
    font-style: italic;
    margin: 1px auto;
    
    
}
.info {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: black;
    
}
.headinz {
    margin-bottom: 2px;
}
.number {
    color: gold;
    padding: 10px;
    position: fixed;
    right: 5px;
    top: 25px;
    border-radius: 50px;
    background-color: #345;
    border: 1px solid gold;
}
.venue {
    top: 135px;
    right: 20px;
    background-color: bisque;
    border-radius: 20px;
    padding: 2px 10px;
    position: absolute;
}

        .footer {
            text-align: center;
            margin-top: 2px;
            background: rgba(255,255,255,0.3);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          border-bottom: 5px solid rgba(20,12,255,0.3);
            color: black;
            padding: 5px;
            border-radius: 5px;
        }
    
    .print-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    text-align: center;
      position: fixed;
      top: 35px;
      left: 50px;
}

.print-button:hover {
    background-color: #005f73;
}

@media print {
    body {
        -webkit-print-color-adjust: exact; /* For Chrome, Safari */
        print-color-adjust: exact; /* For modern browsers */
        background-color: white; /* Ensure white background */
    }

    .section {
        background: #ffffff !important; /* Force background */
        border-left: 5px solid rgba(20,12,255,0.3) !important;
        padding: 10px !important;
    }

          h2 {
            text-align: center;
            color: white;
            border-radius: 10px;
            background-color: rgba(20,12,255,0.3);
        }
  
        h3 {
            text-align: left;
            color: white;
            background-color: rgba(20,12,255,0.3);
            margin-left: -10px;
            padding-left: 5px;
            border-radius: 0 10px 10px 0;
            margin-bottom: 5px;
        }
        h4 {
            color: black;
            text-align: center;
            border-bottom: solid 2px orange;
            margin-bottom: 2px;
            border-radius: 20px;
        }
        h5 {
            color: yellow;
            text-align: center;
            border-bottom: solid 2px yellow;
            margin-bottom: 2px;
            border-radius: 20px;
        }  
  

    .thead {
        position: absolute;
    }
.bridget-shaelyn {
    position: absolute;
}
  .log-clinton {
    position: absolute;
  }
  .clubLogo {
    top: 30px;
    left: 100px;
    width: 50px;
    height: auto;
    position: relative;
  }
  .print-button {
    display: none;
  }
  .number {
      left: 20px;
      width: 10px;
  }
}